{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log-in{% endblock %}
{% block content %}

 <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-2">Your Personal <i class="icon-note text-primary"></i>  Note Site</h1>
              <p>This is a portfolio project, Please use fake credentials</p>
            <a href="{% url 'register' %}" class="btn btn-outline btn-xl js-scroll-trigger">Register Now</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto bg-white text-dark">
           <div class="card-body">
            <h2 class="card-title text-center">Login</h2>
            {% if error.errors %}
            <p>
            	Your username and password didn't match.
            	Please try again.
            </p>
            {% else %}
            <p>Please, use the following form to log-in:</p>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
              {{ form | crispy }}
    			{% csrf_token %}
    			<input type="hidden" name="next" value="{{next}}"/>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
              <!-- <a class="btn btn-outline-secondary d-block text-center mt-2 small" href="{% url 'password_reset' %}">Forgotten your password ?</a> -->
              <hr class="my-4">
              <!--<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button> -->
            </form>
          </div>
         </div>
        </div>
      </div>
    </div>
  </header>

<!--
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            {% if error.errors %}
	<p>
		Your username and password didn't match.
		Please try again.
	</p>
{% else %}
<p>Please, use the following form to log-in:</p>
{% endif %}
            <form class="form-signin">
              
              {{ form.as_p }}
    			{% csrf_token %}
    			<input type="hidden" name="next" value="{{next}}"/>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
              <a class="d-block text-center mt-2 small" href="{% url 'password_reset' %}">Forgotten your password ?</a>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> -->
{% endblock content %}
