{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}
	{{note.title}}
{% endblock title %}

{% block content %}
<header class="masthead ">
	<div class="container align-content-center h-100">
		<div class="row h-100">
			<div class="col-lg-7 my-auto mx-auto card text-dark">
				<div class="mt-3 mx-auto card-header-tabs">
					<h4 class="mb-3"> {{ note.title }}</h4>
				</div>
				<p class="card-subtitle"><span><i class="fas fa-date"></i></span> {{note.created | naturaltime }}</p>
				<p class="card-body">{{note.body}}</p>
			</div>
		</div>
	</div>
</header>
{% endblock content %}
