{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}
	{{note.title}}
{% endblock title %}

{% block content %}
<header class="masthead ">
	<div class="container align-content-center h-100">
		<div class="row h-100">
			<div class="col-md-12 my-auto mx-auto card text-dark">
				<div class="mt-3 mx-auto card-header-tabs">
					<h1 class="mb-3 font-weight-bold"> {{ note.title }}</h1>
				</div>
				<span class="card-subtitle text-muted text-center"><i class="icon-clock text-gray-dark"></i> {{note.created }}
</span>
				<div class="card-body">
					{{note.body}}
				</div>
			<div class="card-footer">
            
          <a class="btn btn-info" href="{% url 'update' note.slug note.pk %}"><span><i class="fas fa-edit"></i></span> Edit Note</a>
          <a href="{% url 'delete' note.slug note.pk %}" class="btn btn-danger"> <span><i class="fas fa-remove"></i></span> Delete Note</a> 
            
          </div>
			</div>
			 
		</div>
	</div>
</header>
{% endblock content %}